* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    126deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(66, 150, 93, 1) 50%,
    rgba(19, 221, 171, 0.711922268907563) 100%
  );
}
.main {
  background-color: #ecab55;
}
.card {
  text-align: start;
  height: fit-content;
}
.task {
  list-style: none;
}
li:first-child {
  font-size: 1.2rem;
  font-weight: 600;
}
li:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 400;
}
